{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image      := index $hero "image" }}
<div class="hero-body">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1 landing-caption">
        <h1 class="title is-1 is-bold is-spaced">
          {{ $title }}
        </h1>
        {{ with $subtitle }}
        <h3 class="subtitle is-5 is-muted">
          {{ . }}
        </h3>
        {{ end }}
        <form action="https://formspree.io/mjvepezk" method="POST">
          <div class="columns is-multiline">
            <div class="column is-8">
              <input class="input is-medium" name="email" type="email" placeholder="email address">
            </div>
            <div class="column is-2">
              <button type="submit" class="button cta is-large primary-btn raised is-clear">Early Access</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-5 is-offset-1">
        <figure class="image is-4by3">
          <img src="{{ printf "/images/%s" $image | relURL }}" alt="Description">
        </figure>
      </div>
    </div>
  </div>
</div>